/* cyber ocarina style.css */


/* DOOR OR ENTRY PAGE */ 

.entry-background {
    background-color: #C0C0C0;
    margin: 0;
    width: 100vw;
    height: 100vh;

	display: flex;
    justify-content: center;
    align-items: center;
}

.table {
  font-family: "Pixelated MS Sans Serif";
  height: 200;
  width: 400;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--surface);
  box-shadow:
    var(--border-raised-outer),
    var(--border-raised-inner);
}

.table th {
  padding: 20px 20px;
  background: var(--button-face);

  box-shadow:
    var(--border-raised-outer),
    var(--border-raised-inner);
}

.table a {
    color: #0000cc;
}

.table a:hover {
    color: #1a73e8;
}

.table a:active {
    color: #0000cc;
}

/* MAIN PAGE */ 

/* central graphic*/ 
/* file uploader widget */
/* sound modulation widget */
